############################
# IntelliJ / JetBrains
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Build
############################
build/
target/
bin/

############################
# Gradle
############################
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
gradle-app.properties

############################
# Maven
############################
.mvn/
dependency-reduced-pom.xml

############################
# Logs & Runtime
############################
*.log
logs/
hs_err_pid*
replay_pid*

############################
# Kotlin
############################
.kotlin/

############################
# Spring Boot configs / secrets
############################
*.env
.env.*
application-local.yml
application-local.yaml
application-local.properties

########################
